<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/new" method="POST" class="container">
      <div class="form-group">
        <label for="user">Username</label>
        <input type="text" name="user" class="form-control" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message" cols="10" rows="10" class="form-control"></textarea>
      </div>
      <input type="submit" class="btn btn-primary">
    </form> 
  </body>
</html>
